
*{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

/*    Mobile*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
/* Styles */
.navbar-nav{
background-color: rgba(0,0,0,0.5);
right: 50px!important;
/*width: 200px!important;*/
    padding-right: 0px!important;
}

.home{
width:455px;
}
.caption{
top: 44%!important;
left: 10%;
}
h1{font-size: 1.5rem!important;

}
p{
font-size: 0.8rem!important;
}

.caption p{ font-size: 0.8rem!important;
padding-bottom: 3%;
text-align: center;}

.caption h1{font-size: 1.5rem!important;
padding-bottom: 3%;
text-align: center;}

#section-one{ padding-left: 0px!important;
padding-right: 0px!important;}
.web-development p{
width: 300px;
}
#section-two{
width: 455px;
padding-left: 0px!important;
padding-right: 100px!important;
}

.id-brand p{ font-size: 1.5rem;!important}

.id-brand h1{font-size: 1rem;!important}

#section-three{ 
padding-right: 100px!important;
}
#section-four{
    padding-left: 0px!important;
padding-right: 0px!important;
width: 455px;
}
.blockquote {
width: 80%!important;
}


/*
#section-five{
padding: 0px!important;
}
*/



#section-five{


padding: 10px 0px!important;

}


font-size: 26px;

.contact{ padding: 0%;}

#section-six{
width: 455px;
}
.bottomteam{ padding: 0px!important;
}

.cards{
padding-bottom: 10em!important;
}
#section-seven{
width: 455px;
}
.card-deck{
padding-left: 70px;
}
#footer{
width: 455px;

}


}


/*    tblet*/
@media only screen and (min-device-width : 768px) and  (max-device-width: 1024px) {
#section-one{  padding-left: 0px!important; 
padding-right: 0px!important;}
#section-two{ padding-left: 0px!important;
padding-right: 0px!important;
}    .navbar-nav{
background-color: rgba(0,0,0,0.5);
}

#section-three{ 
padding-left: 3%;
padding-right: 0px;
}
#section-four{ 
padding-left: 3px!important;;
padding-right: 0px!important;
}
.speech{

padding-left: 0px!important;
padding-right: 0px!important;
width: 302px!important;

}
.blockquote {
/*width: 80%!important;*/
}
form{
margin-left: 30px!important;
}

#section-six{
padding-left: 100px!important;
padding-right: 100px!important;
}
.bottomteam{

padding: 0px!important;
}
.ficon span{
font-weight: 10px!important}
.card-body{

padding-left: 0px!important;


}

#section-five{


padding: 0px!important;

}



}
